@import "./module/reset.scss";
// 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

// 
@import "./module/variable.scss";
@import "./module/btn.scss";
@import "./module/steps";

.wrap{
  background-color: black;
}

.section-invitation{
  background: url(./image/Bg-fon-invitation.png) no-repeat center top/100% 100% ,#151515;
  position: relative;
  

  @media (max-width:775px) {
    background: url(./image/Bg-fon-invitation-mobi.png) no-repeat center top/ 100% 80%,#151515;
  }

  &__bg-gradient{
    width: 92.62%;
    height: 92.62%;
    position: absolute;
    padding: 3.69%;

    @media (max-width:775px) {
      height: 84.37%;
      width: 89.37%;
      padding: 7.81% 5.31%;
    }
   
    & div{
      width: 100%;
      height: 100%;
      background: linear-gradient(111.86deg, rgba(1, 1, 1,.5) 1.13%, rgba(68, 68, 68,.5) 100%);
      border-radius: 10px;
    }
  }

 

  &__content{
    position: relative;
    padding: 8.645% 0 0% 0;
 

    @media (max-width:1300px) {
      padding: 8.645% 0 0% 0;
    }

    @media (max-width:775px) {
      padding: 8.645% 0 0% 0;
    }
    
  }

  &__img-block{
    position: absolute;
    max-width: 957px;
    bottom: -81%;
    width: 100%;
    right: 0%;
    
    @media (max-width:1800px) {
      right: 0%;
      width: 50%;
      bottom: -77%;

    }
    @media (max-width:1600px) {
      width: 45%;
      bottom: -72%;
    }
    @media (max-width:1400px) {
      width: 45%;
    }
    @media (max-width:1300px) {

      bottom: -69%;
    }
    @media (max-width:1100px) {
      width: 48%;
      bottom: -73%;
    }
    @media (max-width:1000px) {
      width: 51%;
      bottom: -79%;
    }
    @media (max-width:775px) {
      margin: 0 auto;
      position: relative;
      width: 100%;

    }
  }



  &__content-text-bg{

    & span{
      font-size: 117px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      color: $colorTextWhite;
      display: block;
      padding: 0 0% 0 11.35% ;
      @media (max-width:1800px) {
        font-size: $size1*.95 
      }
      @media (max-width:1600px) {
        font-size: $size1*.9 
      }
      @media (max-width:1400px) {
        font-size: $size1*.8 
      }
      @media (max-width:1300px) {
        font-size: $size1*.7
      }
      @media (max-width:1100px) {
        font-size: $size1*.6
      }
      @media (max-width:1000px) {
        font-size: $size1*.45
      }
      @media (max-width:775px) {
        padding: 0;
        text-align: center;
        font-size: $size1*.5
      }
      @media (max-width:560px) {
        font-size: $size1*.6
      }
      @media (max-width:380px) {
        font-size: $size1*.47
      }
    }
  }
  &__content-text{

    @media (max-width:775px) {
      padding-bottom: 6.25%;
    }
    
    & span{
      font-size: 163px;
      font-weight: 800;
      font-family: 'Montserrat', sans-serif;
      color: $colorTextGold;
      display: block;
      padding: 0 0% 0.78% 11.35% ;
      @media (max-width:1800px) {
        font-size: $size10*.95 
      }
      @media (max-width:1600px) {
        font-size: $size10*.9 
      }
      @media (max-width:1400px) {
        font-size: $size10*.8 
      }
      @media (max-width:1300px) {
        font-size: $size10*.7
      }
      @media (max-width:1100px) {
        font-size: $size10*.6
      }
      @media (max-width:1000px) {
        font-size: $size10*.45
      }
      @media (max-width:775px) {
        padding: 0;
        text-align: center;
      }
      @media (max-width:560px) {
        font-size: $size10*.35;
        font-weight: 800;
      }
      @media (max-width:380px) {
        font-size: $size10*.265
      }

    }
    
  }

  &__content-text-decor{
    position: relative;
    transform: rotateZ(-7.1deg);


    @media (max-width:775px) {
      transform: rotateZ(0deg);
   
    }

    & img{
      position: absolute;
      width: 13%;
      left: 7%;
      bottom: -9%;

      @media (max-width:775px) {
        left: 15%;
      bottom: 0%;
      width: 100px;
      }
      @media (max-width:560px) {
        left: 5%;
      bottom: 0%;
      width: 100px;
      }
      @media (max-width:380px) {
        left: 7%;
      bottom: -4%;
      width: 90px;
      }
    }
    & span:nth-child(1){
      font-family: 'Reenie Beanie', cursive;
      font-size: $size11;
      font-weight: 500;
      display: block;
      padding: 0 0% 0 11.35%;
      @media (max-width:1800px) {
        font-size: $size11*.95 
      }
      @media (max-width:1600px) {
        font-size: $size11*.9 
      }
      @media (max-width:1400px) {
        font-size: $size11*.8 
      }
      @media (max-width:1300px) {
        font-size: $size11*.7
      }
      @media (max-width:1100px) {
        font-size: $size11*.6
      }
      @media (max-width:1000px) {
        font-size: $size11*.45
      }
      @media (max-width:775px) {
        padding: 0 0% 0 0% ;
        text-align: center;
      }
      @media (max-width:560px) {
        font-size: $size11*.4
      }
      @media (max-width:380px) {
        font-size: $size11*.3
      }
    }
    & span:nth-child(3){
      font-family: 'Reenie Beanie', cursive;
      font-size:$size12 ;
      font-weight: 500;
      display: block;
      padding: 0 0% 0 11.35%;
      @media (max-width:1800px) {
        font-size: $size12*.95 
      }
      @media (max-width:1600px) {
        font-size: $size12*.9 
      }
      @media (max-width:1400px) {
        font-size: $size12*.8 
      }
      @media (max-width:1300px) {
        font-size: $size12*.7
      }
      @media (max-width:1100px) {
        font-size: $size12*.6
      }
      @media (max-width:1000px) {
        font-size: $size12*.45
      }
      @media (max-width:775px) {
        padding: 0 0% 0 0% ;
        text-align: center;
      }
      @media (max-width:560px) {
        font-size: $size12*.4
      }
      @media (max-width:380px) {
        font-size: $size12*.3
      }
    }
  }

  &__btn{
    padding:12% 0 13% 21.85%;
    position: relative;

    @media (max-width:1300px) {
      padding:12% 0 10% 21.85%;
    }

    @media (max-width:775px) {
      padding: 0;
      position: absolute;
      bottom: 20%;
      left: 50%;
      text-align: center;
      width: 100%;
      transform: translateX(-50%);

    }
    
  }
}

.section-steps{


  background: url("./image/Bg-fon-step.png") center bottom/100% 85% ,#151515 ;
  background-repeat: no-repeat;
  position: relative;

  @media (max-width:775px) {
    background: 
    url("./image/Bg-fon-step-mobi-1.png") center center /100% ,
     url("./image/Bg-fon-step-mobi-2.png") center top /100% ,
     #151515 ;
    background-repeat: no-repeat;
  }
   
  &__title-block{
    position: relative;
  }

  &__title{
    text-align: center;
    font-size:$size4;
    font-weight:600;
    color: $colorTextWhite;
    padding: 0 10%;


    @media (max-width:1800px) {
      font-size: $size4*.95;
    }
    @media (max-width:1600px) {
      font-size: $size4*.9;
    }
    @media (max-width:1400px) {
      font-size:  $size4*.8;
    }
    @media (max-width:1300px) {
      font-size:  $size4*.7;
    }
    @media (max-width:1100px) {
      font-size:  $size4*.6;
    }
    @media (max-width:775px) {
      font-size: $size4*.4
    }
    @media (max-width:560px) {
      font-size: $size4*.4
    }
  }

  &__block-position{
    padding: 5% 1%;
    max-width: 90%;
    margin: 0 auto;


    @media (max-width:775px) {
      max-width: 100%;
      padding: 5% 2%;
    }
  }
  &__remark-text{
    font-size: $size13;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 3% 15% 0% 15%;
  
    @media (max-width:1600px) {
      font-size: $size13*.9;
    }

    @media (max-width:1300px) {
      font-size:  $size13*.85;
    }
    @media (max-width:1100px) {
      font-size:  $size13*.8;
    }
    @media (max-width:775px) {
      font-size: $size13*.75;
      padding: 5% 15% 0% 15%;
    }
    @media (max-width:560px) {
      font-size: $size13*.7
    }
  }

  &__btn-block{
    text-align: center;
    padding: 2% 0 7% 0;
  }

  &__btn-position{
    margin-bottom:22px;
  }
}

.section-rull{ 
  display: none;
  background: url("./image/Bg-fon-Rull.png") no-repeat center bottom/100% 80%,#151515;
  
  @media (max-width:775px) {
   background: #151515;
    
  }
  &__content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;

    @media (max-width:1000px) {
      width: 95%;
      
    }
    @media (max-width:800px) {
      width: 95%;
      flex-wrap: wrap;
    }

    &-item{
      flex-basis: 45%;

      @media (max-width:900px) {
        flex-basis: 48%;
      }
      @media (max-width:800px) {
        flex-basis: 100%;
      }


      & p, & ul{
        font-size: 20px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        line-height: 132.9%;

        @media (max-width:1800px) {
          font-size: $size6*.95;
        }
        @media (max-width:1600px) {
          font-size: $size6*.9;
        }
        @media (max-width:1400px) {
          font-size:  $size6*.85;
        }
        @media (max-width:1300px) {
          font-size:  $size6*.8;
        }
        @media (max-width:1100px) {
          font-size:  $size6*.75;
        }
      }
      
    }
  }

  &__title-wrap{
    text-align: center;
    padding-bottom: (67/1920)*100%;
  }

  &__title{
    color: $colorTextWhite;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 600;

    @media (max-width:1800px) {
      font-size: $size9*.95;
    }
    @media (max-width:1600px) {
      font-size: $size9*.9;
    }
    @media (max-width:1400px) {
      font-size:  $size9*.8;
    }
    @media (max-width:1300px) {
      font-size:  $size9*.7;
    }
    @media (max-width:1100px) {
      font-size:  $size9*.6;
    }

  }
}
.section-rull.visible{
  display: block;
}

